<div class="blog">
  <img src="/assets/traffic-jam2.jpg" alt="">
  <div class="summary">
    <h2>Let’s talk about sharingan and the Uchicha clan</h2>
    <div class="summary__post-date">
      <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M4.91421 1.41421L3.5 0L0 3.5L1.41421 4.91421L4.91421 1.41421ZM17.9142 0L21.4142 3.5L20 4.91421L16.5 1.41421L17.9142 0ZM10.7071 20.7071C5.18426 20.7071 0.707107 16.23 0.707107 10.7071C0.707107 5.18426 5.18426 0.707107 10.7071 0.707107C16.23 0.707107 20.7071 5.18426 20.7071 10.7071C20.7071 16.23 16.23 20.7071 10.7071 20.7071ZM10.7071 18.7071C15.1254 18.7071 18.7071 15.1254 18.7071 10.7071C18.7071 6.28883 15.1254 2.70711 10.7071 2.70711C6.28883 2.70711 2.70711 6.28883 2.70711 10.7071C2.70711 15.1254 6.28883 18.7071 10.7071 18.7071ZM15.7071 9.70711H11.7071V4.70711H9.70711V11.7071H15.7071V9.70711Z" fill="#7C98A6"/>
      </svg>
      <span>Posted on January 07, 2020</span>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam et eveniet id impedit omnis quo rerum sequi tempora vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam et eveniet id impedit omnis quo rerum sequi tempora vitae.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam et eveniet id impedit omnis quo rerum sequi tempora vitae.</p>
  </div>
</div>

<div class="container">
  <div class="answer-card">
    <div class="stats">
      <div class="stats__user">
        <img src="/assets/mock_user_image.jpg" alt="">
        <div class="stats__user_details">
          <h4>Hauwa Edjukorlem</h4>
          <span>... writes</span>
        </div>
      </div>
      <span class="time">1 minute ago</span>
    </div>
    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes)</p>
  </div>
  <div class="answer-card">
    <div class="stats">
      <div class="stats__user">
        <img src="/assets/mock_user_image.jpg" alt="">
        <div class="stats__user_details">
          <h4>Hauwa Edjukorlem</h4>
          <span>... writes</span>
        </div>
      </div>
      <span class="time">1 minute ago</span>
    </div>
    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes)</p>
  </div>
  <div class="answer-card">
    <div class="stats">
      <div class="stats__user">
        <img src="/assets/mock_user_image.jpg" alt="">
        <div class="stats__user_details">
          <h4>Hauwa Edjukorlem</h4>
          <span>... writes</span>
        </div>
      </div>
      <span class="time">1 minute ago</span>
    </div>
    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes)</p>
  </div>
  <div class="answer-card">
    <div class="stats">
      <div class="stats__user">
        <img src="/assets/mock_user_image.jpg" alt="">
        <div class="stats__user_details">
          <h4>Hauwa Edjukorlem</h4>
          <span>... writes</span>
        </div>
      </div>
      <span class="time">1 minute ago</span>
    </div>
    <p>Most of its text is made up from sections 1.10.32–3 of Cicero's De finibus bonorum et malorum (On the Boundaries of Goods and Evils; finibus may also be translated as purposes)</p>
  </div>

  <div class="answer-form">
    <img src="/assets/user-icon.svg" alt="">
    <form action="">
      <div><input type="text" placeholder="Name"></div>
      <div><textarea name="" id="" rows="10" placeholder="Your answer"></textarea></div>
      <button class="btn">Submit Answer</button>
    </form>
  </div>
</div>
