.contact {
  width: 100%;

  &__hero {
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 70px;
    justify-items: center;
    align-items: center;

    h1 {
      color: #182B82;
    }

    img {
      max-height: 70%;
    }
  }

  &__form__section {
    display: flex;
    align-items: center;
    align-content: space-between;

    &__container {
      flex-basis: 85%;
      margin-right: 4rem;
      padding: 4rem 7rem;
      margin-bottom: 4rem;

      &__heading {
        display: flex;
        align-content: center;
        justify-items: center;
        align-items: center;
        padding-bottom: 1rem;
        color: #182B82;

        h3 {
          margin-left: 0.8rem;
        }
      }

      form {
        .input {
          background: #FFFFFF;
          box-shadow: 10px 10px 16px #DEE4ED, -10px -10px 16px #FFFFFF, inset 4px 4px 4px rgba(222, 228, 237, 0.4), inset -4px -4px 8px #FFFFFF;
          border-radius: 10px;
          padding: 0.8rem 0.5rem;
          margin-bottom: 0.8rem;

          input, textarea {
            outline: none;
            background-color: transparent;
            border: 0;
            width: 100%;

            &::placeholder {
              font-family: 'Montserrat', sans-serif;
            }
          }
        }

        input[type=submit] {
          outline: none;
          width: 100%;
          color: #FFFFFF;
          background-color: #6F5ED8;
          border-radius: 10px;
          padding: 0.8rem 0;

          &::placeholder {
            font-family: 'Montserrat', sans-serif;
          }
        }

        input[type=submit]:hover {
          background-color: darken(#6F5ED8, 15%);
        }
      }
    }
  }
}
