<footer>
  <div class="secondary-footer">
    <div>
      <section class="about-section">
        <img class="logo" src="/assets/corporate_arena.png" alt="Corporate Arenas">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ipsum voluptatem. Ab aliquam consectetur
          expedita laudantium magni maiores natus nesciunt porro quaerat veniam. Aperiam culpa deserunt dolor eveniet,
          id illo iste neque pariatur, perferendis quisquam similique unde veniam veritatis voluptatum?</p>
        <section class="icon-list">
          <a href="">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-dribbble"></ion-icon>
          </a>
        </section>
      </section>
      <section class="quick-links-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a href="">Vacancies</a></li>
          <li><a routerLink="/brain_teasers">Brain Teasers</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Traffic Updates</a></li>
          <li><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </section>
      <section class="contact-section">
        <h4>Contact Us</h4>
        <a href="tel:+2348081987023">(+234) 808 198 7023</a>
        <a routerLink="/">www.corporatearenas.com</a>
        <a href="mailto:corporateworldarena@gmail.com">corporateworldarena@gmail.com</a>
      </section>
      <section class="t-and-c-section">
        <a href="">Terms and Conditions</a>
        <a href="">F.A.Q</a>
      </section>
    </div>
  </div>
  <div class="primary-footer">
    <div>
      <section class="copyright-section">
        <span>&copy; Corporate Arenas {{ year | date : "yyyy" }}</span>
        <img class="logo" src="/assets/corporate_arena.png" alt="Corporate Arenas">
      </section>
      <hr>
      <section class="quick-nav-section">
        <div>
          <a routerLink="/">Home</a>
          <a href="">Articles</a>
          <a routerLink="/contact">Contact</a>
        </div>
        <div class="icon-list-primary">
          <a href="">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-youtube"></ion-icon>
          </a>
          <a href="">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </div>
      </section>
    </div>
  </div>
</footer>

