<header>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/vacancies">Vacancies</a>
      </li>
      <li>
        <a routerLink="/traffic_updates">Traffic Updates</a>
      </li>
    </ul>
    <div>
      <img src="/assets/corporate_arena.png" alt="">
    </div>
    <ul>
      <li>
        <a routerLink="/brain_teasers">Brain Teasers</a>
      </li>
      <li>
        <a routerLink="/blog">Articles</a>
      </li>
      <li>
        <a routerLink="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
