$navColor: #505F98;

header{
  width: 100vw;
  padding: 5px 0;
  display: flex;
  justify-content: center;

  nav {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    ul{
      list-style-type: none;
      display: flex;
      justify-content: space-around;

      li {
        padding: 3px 4px;

        a{
          text-decoration: none;
          color: $navColor;
          font-size: 12px;
          transition: all 500ms ease;

          &:hover{
            font-weight: bold;
          }
        }
      }
    }

    div {
      margin: 0 auto;

      img{
        max-height: 40px;
        padding: 10px;
      }
    }
  }
}
