.hero {
  h1 {
    color: #37447E;
    font-weight: 700;
  }

  p {
    font-size: 15px;
    line-height: 30px;
    color: #505F98;
  }

  a.btn {
    border-radius: 10px;
    padding: 0.3rem 2rem;
  }
}

.research-section {
  background: linear-gradient(183.29deg, #FFFFFF 78.49%, #EEEEFF 120.83%);

  h1 {
    font-weight: 700;
    color: #091133
  }

  .research-list {
    overflow-x: auto;

    .research-card {
      min-width: 20rem;
      background: linear-gradient(30.03deg, #F1F3F6 -2.87%, #FFFFFF 99.99%);
      box-shadow: 10px 10px 36px #E7ECFF, -10px -10px 16px #FFFFFF, inset 4px 4px 4px rgba(231, 236, 255, 0.25), inset -4px -4px 8px #FFFFFF;
      padding: 15rem 0.8rem 0.8rem;
      margin: 20px;
    }
  }
}

.brain-teaser-section {
  .hero {
    .heading {
      h2 {
        font-weight: 700;
      }

      span {
        width: 7rem;
        border-bottom: 5px solid #BE52F2;
        align-self: center;
      }
    }
  }

  .img-slider {
    .controls {
      .btn {
        background: #FFFFFF;
        border: 2px solid #B6BDFC;
        color: #6C63FF;
        padding: 0.4rem 4rem;
        transition: all 500ms ease;
        border-radius: 10px;

        &:hover {
          color: #FFFFFF;
          background: #6C63FF;
        }
      }

      ul {
        list-style-type: none;
        display: flex;

        li {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          display: block;
          background-color: #C4C4C4;
          margin-right: 10px;
          cursor: pointer;
        }

        li.active {
          background-color: #F4E7FC;
        }
      }
    }
  }
}

.vacancy-section {
  position: relative;
  margin: 4rem 0;

  .container {
    background: rgba(246, 232, 253, 0.65);
    padding: 5rem;

    h2 {
      font-weight: 700;
    }
  }

  .polka-dots {
    position: absolute;
    bottom: 0;
    left: 15%;
  }
}

.traffic-update-section {
  position: relative;
  margin: 4rem 0;
  background: linear-gradient(180deg, rgba(231, 236, 255, 0.01) 0%, #F1F3F6 100%);

  .container {
    padding: 5rem;

    h2 {
      font-weight: 700;
    }
  }

  .illustration {
    position: absolute;
    top: 0;
    right: 0;
  }
}
