.container{
  width: 80%;
  margin: 4rem auto;

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.featured_traffic_update, .traffic_update {
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    margin-right: 2.5rem;
  }

  .summary {
    align-self: end;
    display: block;


    h2 {
      text-align: left;
      margin-bottom: 0.8rem;
      letter-spacing: 2px;
    }

    p, a {
      color: #031B06;
      opacity: 0.6;
      font-size: 16px;
      line-height: 26px;
    }

    a {
      text-decoration: none;
      color: #B6BDFC;
    }

    .title {
      opacity: 1;
      color: #254AA5;
    }

    &__post-date {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: #7C98A6;
      margin-bottom: 1.5rem;

      svg {
        margin-right: 0.2rem;
        height: 12px;
      }
    }
  }
}

.traffic_update {
  margin: 3rem 1rem;
  .summary {
    flex-basis: 70%;
  }
}
